<div class="app-form">
    <div class="firstElem"></div>
    <div class="firstElem"></div>
    <div class="firstElem"></div>
    <div class="fieldName">
    <h2>just sit back and let us save your theme!</h2>
    <br/>
    <button 
        class="themeButton"
        type="button" 
        (click)="setMessage('darkMode')"
    >
        dark
    </button>
    <br/>


    <button 
        class="themeButton"
        type="button" 
        (click)="setMessage('defaultMode')"
    >
        default
    </button>
    <br/>


    <button 
        class="themeButton"
        type="button" 
        (click)="setMessage('lightMode')"
    >
        light
    </button>
    </div>
    <div class="firstElem"></div>
    <div class="firstElem"></div>
    <div class="firstElem"></div>
</div>